# /etc/udev/rules.d/50-myusb.rules
# sudo udevadm control -R
SUBSYSTEMS=="usb", ATTRS{idVendor}=="049f", ATTRS{idProduct}=="505a", GROUP="plugdev", MODE="0666"
