[Desktop Entry]
Version=1.0
Name=Oscilok
Comment=Cable Tester
Icon=oscilok
Exec=/opt/oscilok/oscilok
Terminal=false
Type=Application
Categories=Utility
